<div class="container-concluidas">
    <table id="tb-concluidas">
        <h1 class="h1-tarefas">Tarefas Concluídas</h1>
        <thead>
            <tr>
                <th>Descrição da atividade</th>
                <th>Criado por</th>
                <th>Data de criação</th>
                <th>Atribuido a</th>
                <th>Data de atribuição</th>
                <th>Data de previsão de conclusão</th>
                <th>Data de conclusão</th>
                <th>Situação de entrega</th>
                <th>Diferença na entrega</th>
            </tr>
        </thead>
        <tbody id="tbody-concluidas">
        </tbody>
    </table>
</div>

<div class="fundo-barra">
    <div class="fundo-barras">
        <div>
            <div class="barra">
                <div class="barra-progresso" id="barra-progresso-concluidas"></div>
            </div>
            <div class="quantidade">Quantidade concluídas: <b id="quantidade-concluidas"></b></div>
            <div class="quantidade">Quantidade total de tarefas: <b id="quantidade-total-concluidas"></b></div>
        </div>
       
        <div>
            <div class="barra">
                <div class="barra-progresso" id="barra-progresso-concluidas-atrasadas"></div>
            </div>
            <div class="quantidade">Quantidade concluídas atrasadas: <b id="quantidade-concluidas-atrasadas"></b></div>
            <div class="quantidade">Tempo total de atraso (dias): <b id="quantidade-total-concluidas-atrasadas"></b></div>
        </div>
    </div>
    
</div>
