<div class="container-criar-tarefa">
    <form id="activity-form">
        <h1 class="h1-tarefas">Criar Tarefa</h1>
        <label for="data-criar-tarefa">Data da atividade:</label>
        <input type="date" class="input-formatacao" id="data-criar-tarefa" required />

        <label for="horario-criar-tarefa">Horário da Criação:</label>
        <input type="time" class="input-formatacao" id="horario-criar-tarefa" required />

        <label for="profissional-criar-tarefa">Nome do profissional:</label>
        <input type="text" class="input-formatacao" id="profissional-criar-tarefa" required />

        <label for="descricao-criar-tarefa">Descrição da atividade:</label>
        <textarea class="input-formatacao" id="descricao-criar-tarefa" required></textarea>

        <label for="tempo-criar-tarefa">Tempo previsto:</label>
        <input type="date" class="input-formatacao" id="tempo-criar-tarefa" required />

        <button type="button" class="btn-green" id="btn-adicionar-criar-tarefa">Adicionar</button>
    </form>
</div>
