<div class="container-criar-tarefa">
    <form id="activity-form">
        <label for="data">Data da atividade:</label>
        <input type="date" id="data" required />

        <label for="horario">Horário da Criação:</label>
        <input type="time" id="horario" required />

        <label for="profissional">Nome do profissional:</label>
        <input type="text" id="profissional" required />

        <label for="descricao">Descrição da atividade:</label>
        <textarea id="descricao" required></textarea>

        <label for="tempo">Tempo previsto:</label>
        <input type="date" id="tempo" required />

        <button type="button" class="btn-add">Adicionar</button>
    </form>
</div>
