.container-ativas {
    padding: 60px;
    min-height: 78vh;
}

.td-acoes-ativas {
    display: flex;
}

#tb-ativas {
    border-collapse: collapse;
    text-align: center;
    margin-top: 10px;
    width: 100%;
    box-shadow: none;
}

#tb-ativas th,
#tb-ativas td {
    padding: 10px;
    text-align: center;
}

#tb-ativas td {
    border-bottom: 1px solid #ccc;
    padding: 15px 0;
}

#tb-ativas th {
    border-left: 1px solid #ccc;
    background-color: brown;
    color: white;
}
