.container-ativas {
    padding: 60px;
    min-height: 78vh;
}

.td-acoes-ativas {
    display: flex;
}

#activity-table {
    border-collapse: collapse;
    text-align: center;
    border-radius: 5px;
    margin-top: 10px;
    width: 100%;
}

#activity-table th,
#activity-table td {
    padding: 10px;
    text-align: left;
}

#activity-table td {
    border-bottom: 1px solid #ccc;
}

#activity-table th {
    border-left: 1px solid #ccc;
    background-color: brown;
    color: white;
}
