<div class="container-ativas">
    <table id="tb-ativas">
        <h1 class="h1-tarefas">Tarefas Ativas</h1>
        <thead>
            <tr>
                <th>Descrição da atividade</th>
                <th>Criado por</th>
                <th>Data de criação</th>
                <th>Data de previsão de conclusão</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody id="tbody-ativas">
        </tbody>
    </table>
</div>

<div class="janela-fundo" id="encaminhar-tarefa-ativas">
    <div class="janela-container" id="encaminhar-tarefa-container-ativas">
        <form id="forward-form">
            <label for="atribuido-a-ativas">Atribuido a:</label>
            <select class="input-formatacao" id="atribuido-a-ativas">
                <option value=""></option>
            </select>
            <input type="hidden" id="id-encaminhar-ativas" value="">
            <span class="btn-orange" id="cancelar-enviar-tarefa-ativas">Cancelar</span>
            <span class="btn-green" id="enviar-tarefa-ativas" type="button">Alocar</span>
        </form>
    </div>
</div>

<div class="janela-fundo" id="editar-tarefa-ativas">
    <div class="janela-container" id="editar-tarefa-container-ativas">
        <form id="editar-tarefa-form-ativas">
            <label for="descricao-editar-ativas">Descrição da atividade:</label>
            <textarea class="input-formatacao" id="descricao-editar-ativas"></textarea>
            <label for="tempo-editar-ativas">Data de previsão de conclusão:</label>
            <input class="input-formatacao" type="date" id="tempo-editar-ativas" />
            <input type="hidden" id="id-editar-ativas" value="">
            <span class="btn-orange" id="cancelar-editar-tarefa-ativas">Cancelar</span>
            <span class="btn-red" id="remover-tarefa-ativas" type="button">Remover</span>
            <span class="btn-green" id="salvar-editar-tarefa-ativas">Salvar</span>
        </form>
    </div>
</div>

    
