<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>KAMBANHA</title>
        <link rel="stylesheet" href="home.css" />
        <link rel="stylesheet" href="../tarefas-ativas/tarefasAtivas.css" />
        <link rel="stylesheet" href="../tarefas-concluidas/tarefasConcluidas.css" />
        <link rel="stylesheet" href="../tarefas-emAndamento/tarefasEmAndamento.css" />
        <link rel="stylesheet" href="../criar-tarefa/criarTarefa.css" />
        <link rel="stylesheet" href="../cadastrar-membros/cadastrarMembros.css" />
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" lang="javascript" defer></script>
        <script src="home.js" lang="javascript" defer></script>
    </head>
    <body>
        <h2>Lista de tarefas ativas</h2>
        <div id="container-principal"></div>
        <br />
        <ul id="statusFilter">
            <li class="btn-ativas">Ativas</li>
            <option class="btn-em-andamento">Em andamento</option>
            <option class="btn-concluidas">Concluidas</option>
        </ul>
        <span class="btn-cadastrar-membro">Cadastrar Membro</span>
        <span class="btn-criar-tarefa">Criar Tarefa</span>
    </body>
</html>
