* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#container-principal {
    width: 90%;
    margin: auto;
    padding: 10px;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(78, 78, 78, 0.493);
    box-shadow: 1px 1px 15px rgba(175, 175, 175, 0.5);
    border-radius: 5px;
}

.nav-bar {
    display: flex;
    background-color: brown;
    align-items: center;
    padding: 20px;
    margin-bottom: 30px;
}

.logo {
    color: white;
}

.menu-items {
    margin-left: 100px;
}

.btn-tarefas,
.btn-cadastrar-membro,
.btn-criar-tarefa {
    color: white;
    padding: 10px 15px;
    margin: 0 15px;
    border-radius: 5px;
    background-color: rgb(134, 33, 33);
}

.btn-tarefas {
    position: relative;
}

.btn-tarefas:hover,
.btn-cadastrar-membro:hover,
.btn-criar-tarefa:hover {
    background-color: rgb(223, 60, 60);
    cursor: pointer;
}

.tarefas-menu {
    color: white;
    background-color: rgb(90, 18, 18);
    list-style: none;
    width: 150px;
    position: absolute;
    top: 38px;
    border-radius: 5px;
    left: 1px;
    visibility: hidden;
    transition: all 0.1s;
}

.tarefas-menu > li {
    border: 1px solid rgba(136, 136, 136, 0.205);
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.tarefas-menu > li:hover {
    background-color: rgb(223, 60, 60);
}

.btn-orange,
.btn-green {
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 5px;
}

.btn-orange {
    background-color: #fdb631;
}

.btn-green {
    background-color: #008000;
}

.btn-editar,
.btn-encaminhar {
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-editar {
    background-color: orange;
    margin-right: 5px;
}

.btn-encaminhar {
    background-color: green;
}

.input-formatacao {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.input-formatacao:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
    border: 1px solid rgb(148, 148, 148);
}

.janela-fundo {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 9999;
}

.janela-container {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    z-index: 10000;
}

.janela-container label {
    display: block;
    margin-bottom: 5px;
}
