<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>KAMBANHA</title>
        <link rel="stylesheet" href="home.css" />
        <link rel="stylesheet" href="../tarefas-ativas/tarefasAtivas.css" />
        <link rel="stylesheet" href="../tarefas-concluidas/tarefasConcluidas.css" />
        <link rel="stylesheet" href="../tarefas-emAndamento/tarefasEmAndamento.css" />
        <link rel="stylesheet" href="../criar-tarefa/criarTarefa.css" />
        <link rel="stylesheet" href="../cadastrar-membros/cadastrarMembros.css" />
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" lang="javascript" defer></script>
        <script src="home.js" lang="javascript" defer></script>
        <script src="https://kit.fontawesome.com/bf49d14db6.js" crossorigin="anonymous" defer></script>
    </head>
    <body>
        <nav class="nav-bar"> 
            <h2 class="logo">KAMBANHA</h2>
            <div class="menu-items">  
                <span class="btn-tarefas">
                    <span> Tarefas </span>
                    <ul class="tarefas-menu">
                        <li class="btn-ativas">Ativas</li>
                        <li class="btn-em-andamento">Em andamento</li>
                        <li class="btn-concluidas">Concluidas</li>
                    </ul>
                </span>
                <span class="btn-cadastrar-membro">Cadastrar Membro</span>
                <span class="btn-criar-tarefa">Criar Tarefa</span>
            </div>
        </nav>
        <div id="container-principal"></div>

        <div class="janela-fundo carregando">
            <div class="janela-container carregando">
                Carregando ...
            </div>
        </div>
        
        <div class="janela-container-confirmacao">
            <span></span>
        </div>
        <div class="janela-container-erro">
            <span></span>
        </div>
    </body>
</html>
