<div class="container-cadastrar-membro">
    <h1 class="h1-tarefas">Cadastro de Membros</h1>

    <form id="cadastro-form">
      <label for="nome-membro">Nome:</label>
      <input class="input-formatacao" type="text" id="nome-membro">
  
      <label for="data-nascimento">Data de Nascimento:</label>
      <input class="input-formatacao" type="date" id="data-nascimento">
  
      <label for="cpf">CPF:</label>
      <input class="input-formatacao" type="text" id="cpf">
  
      <label for="cargo">Cargo:</label>
      <input class="input-formatacao" type="text" id="cargo">
  
      <button type="button" id="salvar-membros" class="btn-green">Adicionar</button>
    </form>
  
    <table id="tb-membro">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Data de Nascimento</th>
          <th>CPF</th>
          <th>Cargo</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody id="tbody-membros">
      </tbody>
    </table>
</div>

<div class="janela-fundo" id="editar-membro">
    <div class="janela-container" id="editar-membro-container">
        <form id="editar-membro-form">
            <label for="nome-membro-editar">Nome:</label>
            <input class="input-formatacao" type="text" id="nome-membro-editar">
            <label for="cargo-editar">Cargo:</label>
            <input class="input-formatacao" type="text" id="cargo-editar">
            <input type="hidden" id="id-editar" value="">
            <span class="btn-orange" id="cancelar-editar-membro">Cancelar</span>
            <span class="btn-red" id="remover-membro" type="button">Remover</span>
            <span class="btn-green" id="salvar-editar-membro">Salvar</span>
        </form>
    </div>
</div>