<div class="container-em-andamento">
    <table id="tb-andamento">
        <h1 class="h1-tarefas">Tarefas em Andamento</h1>
        <thead>
            <tr>
                <th>Descrição da atividade</th>
                <th>Criado por</th>
                <th>Data de criação</th>
                <th>Atribuido a</th>
                <th>Data de atribuição</th>
                <th>Data de previsão de conclusão</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody id="tbody-andamento">
        </tbody>
    </table>
</div>

<div class="janela-fundo" id="editar-tarefa-andamento">
    <div class="janela-container" id="editar-tarefa-container-andamento">
        <form id="editar-tarefa-form-andamento">
            <label for="descricao-editar-andamento">Descrição da atividade:</label>
            <textarea class="input-formatacao" id="descricao-editar-andamento"></textarea>
            <label for="atribuido-a-editar-andamento">Atribuido a:</label>
            <select class="input-formatacao" id="atribuido-a-editar-andamento">
                <option value=""></option>
            </select>
            <label for="data-previsao-editar-andamento">Previsão de conclusão (data):</label>
            <input type="date" class="input-formatacao" id="data-previsao-editar-andamento" />
            <label for="tempo-previsao-editar-andamento">Previsão de conclusão (hora):</label>
            <input class="input-formatacao" type="time" id="tempo-previsao-editar-andamento" />
            <input type="hidden" id="id-editar-andamento" value="">
            <span class="btn-orange" id="cancelar-editar-tarefa-andamento">Cancelar</span>
            <span class="btn-red" id="remover-tarefa-andamento" type="button">Remover</span>
            <span class="btn-green" id="salvar-editar-tarefa-andamento">Salvar</span>
        </form>
    </div>
</div>

<div class="fundo-barra">
    <div class="barra">
        <div class="barra-progresso" id="barra-progresso-em-andamento"></div>
    </div>
    <div class="quantidade">Quantidade em andamento: <b id="quantidade-em-andamento"></b></div>
    <div class="quantidade">Quantidade total de tarefas: <b id="quantidade-total-em-andamento"></b></div>
</div>